<!-- {{ roomsForm.valid | json }} -->

<div *ngIf="successMessage !== ''" class="alert alert-success">
  {{ successMessage }}
</div>
<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="roomType"
      [(ngModel)]="room.roomType"
      placeholder="Room Type"
      [ngModelOptions]="{ updateOn: 'blur' }"
    />
  </div>
  <div class="form-group">
    <input
      #roomamanaties="ngModel"
      required
      minlength="5"
      maxlength="20"
      class="form-control"
      type="text"
      name="amenities"
      [(ngModel)]="room.amenities"
      placeholder="amenities"
    />
  </div>
  <div class="alert alert-danger" *ngIf="roomamanaties.errors?.['minlength']">
    Amenities should be minimun 5 char!
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      name="price"
      [(ngModel)]="room.price"
      placeholder="price per night"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="photos"
      [(ngModel)]="room.photos"
      placeholder="Photos (link)"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
      placeholder="checkinTime"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="chekoutTime"
      [(ngModel)]="room.checkoutTime"
      placeholder="chekoutTime"
    />
  </div>
  <div class="form-group">
    <input
      #roomratings="ngModel"
      min="1"
      max="5"
      required
      class="form-control"
      type="number"
      name="rating"
      [(ngModel)]="room.rating"
      placeholder="rating"
    />
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomratings.errors?.['min'] || roomratings.errors?.['max']"
  >
    Rating shold be between 1 to 5
  </div>
  <div>
    <button
      [disabled]="roomsForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
